.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/sonarlint/issuestore/0/2/02db21f1bdc651bd314b5b1cde9c7aa7dd2f2d2c
/.idea/sonarlint/issuestore/0/5/050a995fb0878be5e9e0fc0e93b4c96260102ebe
/.idea/sonarlint/issuestore/3/2/32bc5f227af9cfd58b414cdd478a36eb58572cc9
/.idea/sonarlint/issuestore/3/4/34d3643d963753e6cb00fba1604bc86130274f2f
/.idea/sonarlint/issuestore/3/8/383b566581126f0cf569c1cc190a9dde351ee88f
/.idea/sonarlint/issuestore/3/9/399b40b888be4c8ae1db68d1889bd977ef895eef
/.idea/sonarlint/issuestore/7/9/799d20abd55b850bcf5361cd764792dbb24f6a6e
/.idea/sonarlint/issuestore/8/6/863f6e1f2ee9077c318dfa691b6e3119a4695f8e
/.idea/sonarlint/issuestore/b/0/b0ab826a9adf6eb68e1912aeb5f29a703a0f6b62
/.idea/sonarlint/issuestore/b/1/b1d421fd6e6d1c4e66ae4d54e773548dc03813e4
/.idea/sonarlint/issuestore/b/2/b2b9c739c11b76f05be8987e8bda46980ce83263
/.idea/sonarlint/issuestore/b/5/b5225c2e3b53f50f77c36e61ac11efe16e3be1f4
/.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/0/2/02db21f1bdc651bd314b5b1cde9c7aa7dd2f2d2c
/.idea/sonarlint/securityhotspotstore/0/5/050a995fb0878be5e9e0fc0e93b4c96260102ebe
/.idea/sonarlint/securityhotspotstore/3/2/32bc5f227af9cfd58b414cdd478a36eb58572cc9
/.idea/sonarlint/securityhotspotstore/3/4/34d3643d963753e6cb00fba1604bc86130274f2f
/.idea/sonarlint/securityhotspotstore/3/8/383b566581126f0cf569c1cc190a9dde351ee88f
/.idea/sonarlint/securityhotspotstore/3/9/399b40b888be4c8ae1db68d1889bd977ef895eef
/.idea/sonarlint/securityhotspotstore/7/9/799d20abd55b850bcf5361cd764792dbb24f6a6e
/.idea/sonarlint/securityhotspotstore/8/6/863f6e1f2ee9077c318dfa691b6e3119a4695f8e
/.idea/sonarlint/securityhotspotstore/b/0/b0ab826a9adf6eb68e1912aeb5f29a703a0f6b62
/.idea/sonarlint/securityhotspotstore/b/1/b1d421fd6e6d1c4e66ae4d54e773548dc03813e4
/.idea/sonarlint/securityhotspotstore/b/2/b2b9c739c11b76f05be8987e8bda46980ce83263
/.idea/sonarlint/securityhotspotstore/b/5/b5225c2e3b53f50f77c36e61ac11efe16e3be1f4
/.idea/sonarlint/securityhotspotstore/f/0/f07866736216be0ee2aba49e392191aeae700a35
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
